<app-header></app-header>
<div class="mx-10 mt-5 flex justify-center">
  <span class="mx-auto"> Lista de Usuarios </span>
</div>
<div class="mx-10 mt-5">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400  border border-slate-200">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-100 dark:text-gray-400 head-table">
        <tr class="border bg-gray-800 text-gray-200">
          <th scope="col" class="px-3 py-3"> Cedula </th>
          <th scope="col" class="px-3 py-3"> Nombres </th>
          <th scope="col" class="px-3 py-3"> Email</th>
          <th scope="col" class="px-3 py-3"> Empresa</th>
          <th scope="col" class="px-3 py-3"> Rol</th>
          <th scope="col" class="px-3 py-3 flex justify-center"> <p>Acciones</p> </th>
         </tr>
      </thead>
      <tbody class="contenido-tabla">
        <tr class="bg-gray-200 dark:bg-gray-50 dark:border-gray-700"
          *ngFor="let item of data ">
          <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-gray-800 border border-gray-300"> {{item.cedula}} </th>
          <td class="px-3 py-3 border border-gray-300"> {{item.primerNombre}} {{item.segundoNombre}} {{item.primerApellido}} {{item.segundoApellido}}</td>
          <td class="px-3 py-3 border border-gray-300"> {{item.email}} </td>
          <td class="px-3 py-3 border border-gray-300"> {{item.empresa}} </td>
          <td class="px-3 py-3 border border-gray-300"> {{item.rol}} </td>
          <td class="px-3 py-3 border border-gray-300 actions flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
